#boxmodel {
    width: 75%;
}

#boxmodel #margin {
    background: #f1f1f1;
    padding: 35px;
    width: 100%;
    position: relative;
    border: 2px dashed #bbb;
    transition: all .25s ease-in-out;
}

#boxmodel #margin:before {
    content: "Margin";
    font-size: 1.4em;
    position: absolute;
    left: 0;
    top: 1.8%;
    width: 100%;
    text-align: center;
    color: #000;
}

#boxmodel #border {
    padding: 35px;
    width: 100%;
    position: relative;
    background: #443501;
}

#boxmodel #border:before {
    content: "Border";
    font-size: 1.4em;
    color: C0C0C0;
    position: absolute;
    left: 0;
    top: 2.5%;
    width: 100%;
    text-align: center;
}

#boxmodel #padding {
    color: black;
    padding: 35px;
    width: 100%;
    position: relative;
    background: #f1f1f1;
}

#boxmodel #padding:before {
    content: "Padding";
    font-size: 1.4em;
    position: absolute;
    left: 0.5%;
    top: 3.7%;
    width: 100%;
    text-align: center;
}

#boxmodel #content {
    padding: 0 10px;
    width: 100%;
    height: 3em;
    position: relative;
    background: white;
    border: 2px dashed #bbb;
}

#boxmodel #content:before {
    content: "Content";
    font-size: 1.4em;
    display: block;
    text-align: center;
    line-height: 2;
    text-align: center;
    margin: auto;
}