/* * {
    border: pink 1px dashed;
} */

a:not(.content *) {
  color: #4a4a4a;
}

a:hover:not(.content *) {
  color: #485fc7;
}

span.eq-text,
li.eq-text {
  color: limegreen;
  font-weight: bold;
}

span.iq-text,
li.iq-text {
  color: orange;
  font-style: italic;
}