/* * {
    border: pink 1px dashed;
} */

.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content .icon {
  height: 50px;
  font-size: 3em;
  padding: 12px;
}

.card-content a {
  height: 100%;
  width: 100%;
}

a:not(.content *) {
  color: #4a4a4a;
}

a:hover:not(.content *) {
  color: #485fc7;
}

span.eq-text,
li.eq-text {
  color: limegreen;
  font-weight: bold;
}

span.iq-text,
li.iq-text {
  color: orange;
  font-style: italic;
}