* {
  --primary-color: #000;
  --text-color: #C0C0C0;
  --secondary-color: #443501;
  --monospace-fonts: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
}

header,
main,
section,
nav,
div,
aside,
footer,
ul,
li {
  display: flex;
}

main {
  flex-direction: column;
  min-height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#page-header {
  height: 15vh;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

header a {
  text-decoration: none;
}

#headline {
  padding-top: 15px;
  color: #cfc09f;
  font-family: var(--monospace-fonts);
  position: relative;
  text-transform: uppercase;
  font-size: 5em;
  margin: 0;
  font-weight: 400;
  transform: scale(1);
  text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}

#headline:before {
  padding-top: 15px;
  content: attr(data-heading);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

main header {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main header h1,
main header h2 {
  padding: 0;
}

section {
  background-color: var(--primary-color);
  width: 66%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#tiles-section {
  width: 80%;
}

section p {
  width: 100%;
  text-align: justify;
}

.icon {
  font-size: 100px;
  margin: 5px auto;
}

#tiles-section ul {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#tiles-section p {
  text-align: center;
}

.tile {
  width: 225px;
  height: 225px;
  border: var(--text-color) 1px solid;
  border-radius: 20%;
  text-decoration: none;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.tile p {
  text-align: center;
}

.tile a {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tile figure {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.tile img {
  height: 55%;
  margin: 8px;
}

.tile-link {
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}

section a {
  color: var(--text-color);
  display: inline;
}

.actual-list {
  display: inline;
  align-self: flex-start;
  margin-top: 0;
}

.actual-list li {
  display: list-item;
  padding: 5px;
}

#code-examples {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}

.code-div {
  display: block;
  margin: 10px;
  width: 220px;
  height: 220px;
  border: 1px var(--secondary-color) solid;
  border-radius: 25px;
  background: gray;
}

.code-div h4 {
  color: #FFF;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 2em;
  text-align: center;
}

.code-div pre {
  white-space: pre-wrap;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  color: #FFF;
  margin: 0;
}

code {
  color: #FFF;
  font-family: var(--monospace-fonts);
  background: gray;
  padding: 0 2px;
}

footer {
  color: var(--text-color);
  background: var(--primary-color);
  bottom: 0;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer a,
footer p {
  padding-top: 20px;
  color: var(--text-color)
}

li h4,
li h4+p {
  display: inline;
}

.eq-text {
  color: limegreen;
  font-weight: bold;
}

.iq-text {
  color: orange;
  font-style: italic;
}

.quote-div {
  background: var(--text-color);
  color: var(--primary-color);
  border: 1px solid #443501;
  margin: 0 10%;
  border-radius: 20px;
  text-align: justify;
}

.collapsible {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: var(--secondary-color) 1px solid;
  border-radius: 25px;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  text-align: center;
  box-sizing: border-box;
}

.active,
.collapsible:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

#collapsible-list div {
  padding: 0 18px;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 75%;
  border-radius: 25px;
  box-sizing: border-box;
  /*padding-bottom is added into max-height by JS script*/
}

.content {
  justify-content: center;
  align-items: center;
}

.content h3 {
  text-align: center;
}