body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    --primary-color: #000;
    --text-color: #C0C0C0;
    color: var(--text-color);
    background-color: var(--primary-color);
}

header,
main,
section,
nav,
div,
aside,
footer,
ul,
li {
    display: flex;
}

main {
    flex-direction: column;
    min-height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#page-header {
    height: 15vh;
    background: linear-gradient(to bottom, #443501 0%, #000000 100%);
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
}

#headline {
    padding-top: 10px;
    color: #cfc09f;
    font-family: 'Playfair Display', serif;
    position: relative;
    text-transform: uppercase;
    font-size: 5em;
    margin: 0;
    font-weight: 400;
    transform: scale(1);
    text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}

#headline:before {
    padding-top: 10px;
    content: attr(data-heading);
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

main header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main header h1,
main header h2 {
    /* margin: 5px; */
    padding: 0;
}

section {
    background-color: var(--primary-color);
    width: 66%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

section p {
    width: 100%;
    text-align: justify;
}

section a {
    color: var(--text-color);
}

#homepage-intro {
    min-height: 20vh;
}

#homepage-intro p {
    text-align: center;
}

#tiles-section ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.blogpost-tile {
    width: 20vw;
    height: 20vw;
    border: #443501 1px solid;
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.blogpost-tile li {
    align-items: center;
    justify-content: center;
}

.blogpost-tile img {
    height: 55%;
    margin: 8px;
}

figure {
    margin: 0;
}

.blog-link {
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

#collapse-list {
    display: inline;
    align-self: flex-start;
    margin-top: 0;
}

#collapse-list li {
    display: list-item;
    padding: 5px;
}

#code-examples {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
}

.code-div {
    display: block;
    margin: 10px;
    width: 15vw;
    height: 15vw;
    border: 1px #443501 solid;
    border-radius: 25px;
    background: gray;
}

.code-div h4 {
    color: #FFF;
    margin: 0 20px;
    padding: 20px;
    font-size: 2em;
    text-align: center;
}

.code-div pre {
    white-space: pre-wrap;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    color: #FFF;
    margin: 0;
}

code {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    background: gray;
    padding: 0 2px;
}

footer {
    color: var(--text-color);
    background: linear-gradient(to bottom, #000000, #443501);
    bottom: 0;
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer a,
footer p {
    padding-top: 20px;
    color: var(--text-color)
}